* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a, i {
  color: #C1C3C6;
  text-decoration: none;
}
a:hover, a:hover i{
  color: #ffff;
  text-decoration: none;
}

/* utilitis */
/* liste verticali */
.vertical_list {
  list-style-type: none;
}
.vertical_list li {
  font-size: 15px;
}
.vertical_list li a {
  text-decoration: none;
}
.vertical_list li:hover a, .vertical_list li:hover i{
  text-decoration: none;
  color: #ffff;
}
/* /liste verticali */
/* action */
.action_br_lf {
  border-left: 1px solid #1DB954;
}
.action a, .action i {
  color: #ffff;
}
/* action */
/* button */
.btn {
  padding: 20px 40px;
  background-color: rgb(0, 0, 0, 0.4);
  border: 1px solid #ffff;
  border-radius: 40px 40px;
  color: #ffff;
  text-transform: uppercase;
  font-weight: bolder;
}
/*/ button */
/*/ utilitis */
.wrapper {
  width: 100%;
  height: 100vh;
  color: #C1C3C6;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/* main */
main {
  display: flex;
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: hidden;
}
/* barralaterale nav main-nav */
.main_nav {
  position: relative;
  width: 250px;
  height: 100%;
  padding-top: 20px;
  background-color: #000000;
  overflow-y: hidden;
}
/* logo */
#logo {
  padding: 0 20px 10px 20px;
}
#logo img {
  width: 60%;
}
#logo:first-child a {
  visibility: visible;
}
#logo:last-child a {
  visibility: hidden;
}
/*/ logo */
/* menu */
.menu_nav .vertical_list li i {
  width: 25px;
  font-size: 20px;
}
/*/ menu */
/* playlist */
.playlist {
  padding: 0 20px;
}
.playlist h3 {
  text-transform: uppercase;
  padding: 10px 0;
  color: #ffff;
}
.playlist > a {
  line-height: 20px;
  font-size: 18px;
}
.playlist i {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 5px;
}
.playlist ul {
  overflow-y: auto;
}
.playlist .vertical_list li {
  padding: 5px 0;
}
/* /playlist */
/* download */
.download {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px;
}
.download a {
  padding-bottom: 10px;
}
.download a i {
  font-size: 10px;
  margin-right: 5px;
  padding: 2.5px 5px;
  border: 1px solid #C1C3C6;
  border-radius: 50%;
}
.download p {
  padding-top: 10px;
  border-top: 1px solid #C1C3C6;
  font-weight: bolder;
  font-size: 18px;
  color: #ffff;
}
.download p i {
  font-size: 25px;
  margin-right: 5px;
}
/* /download */
/*/ barra laterale nav main-nav */
/* main-content */
.main_content {
  width: calc(100% - 250px);
  height: 100%;
  padding: 20px;
  background-color: rgb(12, 16, 22);
  overflow-y: auto;
}
#upgrade_row {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  padding: 20px 30px;
  text-align: right;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 3;
}
.menu_content ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 90px;
}
.menu_content li {
  list-style-type: none;
  padding: 10px;
}
.menu_content li a {
  text-transform: uppercase;
}

/* /main-content */
/* /main */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  background-color: #1C1C1C;
  z-index: 4;
}

@media screen and (max-width: 780px) {

  .main_nav {
    width: 50px;
    text-align: center;
  }
  #logo:first-child {
    visibility: hidden;
  }
  #logo:last-child a {
    visibility: visible;
  }
  .menu_nav a {
    visibility: hidden;
  }
  .vertical_list {
    width: 100%;
    padding: 10px 0;
  }
  .vertical_list li {
    padding: 0;
    font-size: 15px;
  }
  .main_content {
    width: calc(100% - 50px);
  }
  #upgrade_row {
    width: calc(100% - 50px);

  }
}
