* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a, i {
  color: #C1C3C6;
  text-decoration: none;
}
a:hover, a:hover i{
  color: #ffff;
  text-decoration: none;
}

/* utilitis */
/* liste verticali */
.vertical_list {
  list-style-type: none;
  padding: 10px 0;
}
.vertical_list li {
  padding: 5px 20px;
  font-size: 15px;
}
.vertical_list li a {
  text-decoration: none;
}
.vertical_list li:hover a, .vertical_list li:hover i{
  text-decoration: none;
  color: #ffff;
}
/* /liste verticali */
/* action */
.action_br_lf {
  border-left: 1px solid #1DB954;
}
.action a, .action i {
  color: #ffff;
}
/* action */
/*/ utilitis */
.wrapper {
  width: 100%;
  height: 100vh;
  color: #C1C3C6;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
/* main */
main {
  display: flex;
  width: 100%;
  height: calc(100% - 90px);
  overflow-y: hidden;
}
/* barralaterale nav main-nav */
.main_nav {
  width: 250px;
  height: 100%;
  min-height: 450px;
  padding-top: 20px;
  background-color: #000000;
  overflow-y: hidden;
}
#top_nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 90px);
  overflow: hidden;
}
/* logo */
#logo_icon {
  display: none;
  font-size: 25px;
}
#logo {
  padding: 0 20px 10px 20px;
}
#logo img {
  width: 60%;
}
/*/ logo */
/* menu */
.menu_nav .vertical_list li i {
  width: 25px;
  font-size: 20px;
}
/*/ menu */
/* playlist */
.playlist {
  padding: 0 20px;
  overflow: hidden;
}
.playlist h3 {
  text-transform: uppercase;
  padding: 10px 0;
  color: #ffff;
}
.playlist > a {
  line-height: 20px;
  font-size: 18px;
}
.playlist i {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 5px;
}
.playlist ul {
  /* flex-shrink: 1; */
  height: 75%;
  overflow-y: auto;
}
.playlist .vertical_list li {
  padding: 5px 0;
}
/* /playlist */
#bottom_nav {
  width: 100%;
  height: 90px;
}
/* download */
.download {
  width: 100%;
  padding: 5px 20px;
}
.download a i {
  font-size: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 2.5px 5px;
  border: 1px solid #C1C3C6;
  border-radius: 50%;
}
.download p {
  padding-top: 10px;
  border-top: 1px solid #C1C3C6;
  font-weight: bolder;
  font-size: 18px;
  color: #ffff;
}
.download p i {
  font-size: 25px;
  margin-right: 5px;
}
/* /download */
/*/ barra laterale nav main-nav */
/* main-content */
.main_content {
  width: calc(100% - 250px);
  height: 100%;
  padding: 20px;
  background-color: rgb(12, 16, 22);
  overflow-y: auto;
}
.main_content h2, .main_content h3 {
  padding-bottom: 10px;
  color: #ffff;
}
#upgrade_row {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 90px;
  line-height: 45px;
  padding: 20px 30px;
  text-align: right;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 3;
}
#upgrade_row a {
  margin-right: 2%;
  padding: 20px 40px;
  border: 1px solid #ffff;
  border-radius: 40px 40px;
  color: #ffff;
  text-transform: uppercase;
  font-weight: bolder;
}
#upgrade_row a:hover {
  padding: 25px 50px;
  font-size: 20px;
}
.menu_content ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin-top: 90px;
}
.menu_content li {
  list-style-type: none;
  padding: 8px 8px;
}
.menu_content .action::after {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background-color: #1DB954;
  border-radius: 2px;
  margin: auto;
}
.menu_content li a {
  text-transform: uppercase;
  font-size: 13px;
}
.row_albums {
  padding: 10px 0;
}
.row_albums h2 {
  padding-left: 0.5%;
}
.block_music {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.music_item {
  position: relative;
  width: calc(100% / 6);
  min-width: 160px;
  height: 100%;
  padding: 0 0.5%;
  text-align: center;
  cursor: pointer;
}
.block_music:last-child .music_item:last-child {
  margin-right: 0;
}
.img_music {
  position: relative;
  width: 100%;
}
.artist_cover {
  display: flex;
  width: 100%;
  height: 100%;
}
.img_music img {
  width: 100%;
  height: 100%;
}
.layover_img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  visibility: hidden;
}
.img_music:hover .layover_img {
  visibility: visible;
}
.play_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
.title_music {
  width: 100%;
  padding: 10px;
}
.most_listened img {
  border-radius: 50%;
}
.most_listened .img_music:hover .layover_img {
  border-radius: 50%;
}
/* /main-content */
/* /main */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: #1C1C1C;
  z-index: 4;
}
/* album_open */
.album_open {
  display: flex;
  align-items: center;
  width: 250px;
  height: 100%;
}
#cover_album_open {
  display: flex;
  align-items: center;
  width: 70%;
  padding-left: 3%;
}
.img_album_open {
  display: flex;
  width: 40%;
}
.img_album_open img {
  width: 100%;
  min-width: 60px;
  padding: 5%;
}
.title_album_open {
  padding: 3%;
}
.title_album_open h4 {
  font-size: 14px;
  color: #ffff;
  margin-bottom: -4px;
}
.title_album_open a {
  font-size: 10px;
}
.title_album_open a:hover {
  text-decoration: underline;
}
#icon_album_open {
  width: 30%;
  text-align: right;
}
#icon_album_open i {
  padding: 5px;
}
/* /album_open */
/* footer_player */
.footer_player {
  width: 40%;
  height: 100%;
}
/* /footer_player */
/* audio_control */
.audio_control {
  width: 250px;
  height: 100%;
}
/* audio_control */

/* media MD */
@media screen and (max-width: 1170px) {

  .music_item {
    width: calc(100% / 4);
  }
  .footer_player {
    width: 45%;
  }
}
/* /media MD */

/* media SM */
@media screen and (max-width: 970px) {

  .music_item {
    width: calc(100% / 2);
  }
  .album_open {
    width: 180px;
  }
  #icon_album_open {
    width: 20%;
  }
  #cover_album_open {
    width: 80%;
  }
  .footer_player {
    width: 45%;
  }
  .audio_control {
    width: 230px;
  }

}
/* /media SM */


/* media XS */
@media screen and (max-width: 750px) {

  /* main_nav */
  .main_nav {
    width: 35px;
    text-align: center;
  }
  #logo_icon {
    display: block;
  }
  #logo {
    display: none;
  }
  .menu_nav span {
    display: none;
  }
  .vertical_list {
    width: 100%;
    padding: 10px 0;
  }
  .vertical_list li {
    padding: 10px 0;
    font-size: 15px;
  }
  .playlist {
    display: none;
  }
  .download {
    display: none;
  }
  /* /main_nav */
  /* main_content */
  .main_content {
    width: calc(100% - 35px);
  }
  #upgrade_row {
    width: calc(100% - 35px);
    padding: 20px 15px;
  }
  .music_item {
    width: calc(100% / 2);
    min-width: 140px;
  }
  /* footer */
  .album_open {
    width: 160px;
  }
  .img_album_open {
    width: 35%;
  }
  .img_album_open img {
    min-width: 30px;
  }
  .footer_player {
    width: 50%;
  }
  .audio_control {
    width: 190px;
  }
  /* /footer */
}
/*/ media XS */

/* media exrta XS */
@media screen and (max-width: 352px) {

  #upgrade_row a {
    padding: 10px 15px;
    font-size: 14px;
  }
  .music_item {
    width: 100%;
    min-width: 140px;
  }
  /* footer */
  .img_album_open img {
    display: none;
  }
}
/* /media exrta XS */
